.containerData {
  .barchart {
    width: 800px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
    }

    @media (max-width: 600px) {
    }

    @media (max-width: 480px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 320px) {
      // width: 400px;
      height: 340px;
    }
  }

  .summaryView {
    width: 228px;
    height: 232px;

    padding: 27px 22px;

    @media (max-width: 1024px) {
      width: 178px;
      padding: 27px 12px;
    }

    @media (max-width: 768px) {
      width: 148px;
      height: fit-content;
      padding: 18px 8px;
    }

    @media (max-width: 600px) {
      margin-top: 10px;
    }

    .toDo {
      p {
        font-size: 12px;
        line-height: 19px;
      }

      .logo {
        width: 20px;
        height: 20px;

        margin: 0;
      }
    }
  }
}
